body{
    margin: 0px;
}

h1{
    display: flex;
    justify-content: center;
}

.habit{
    width: 70%;
    border: 2px red solid;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    justify-content: center;
    padding: 10px;
}
input{
    margin: 10px;
}