body{
    margin: 0px;
    font-family: sans-serif;
    /* background-image: linear-gradient(to bottom right,#69b1f0, #077ff0); */
    background-color: black;
    color: white;
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#daily{
    position: absolute;
    top: 10px;
    right:10px;
    background-color: #077ff0;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

#daily:hover{
    transform: scale(1.2);
    box-shadow: white 2px 2px ;
}

h1{
    display: flex;
    justify-content: center;
}

.habit{
 width: 80%;
    border: 2px #9ea0a3 solid;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   background-color: #077ff0;
    color: white;
    -webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	transform: skewX(-10deg);
}

.weekly-habit-content{
    width: 20%;
    font-size: 1.3rem;
}

.days-container{
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.eachDay{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.eachDay:hover{
    transform: scale(1.2);
}

form{
    display: flex;
    justify-content: center;
    padding: 10px;
}
input{
    margin: 10px;
}

.completed-status{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: wheat 1px solid;
    transition: 0.2s ease-in-out;
}

i:hover{
    transform: scale(1.2);
}